body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#drum-machine {
    max-width: 700px;
    width: 90%;
    height: 400px;
    background-color: red;
    border: 2px solid black;
}
.pad-wrapper {
}
.drum-pad {
}